
<link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
<ion-content>

  <ion-text>
    <h1 style="padding-left: 33%;">Cadastrar</h1>
  </ion-text>

  <ion-icon type="button" [routerLink]="['']" style="height: 35px; width: 35px; padding-left: 18px;" name="return-up-back-outline"></ion-icon>

  <br>


<ion-icon style="height: 55px; width: 55px; padding-left: 43%; padding-bottom: 30px;" name="person-circle-outline"></ion-icon>

<ion-item>
  <ion-label position="stacked">NOME COMPLETO</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">E-MAIL</ion-label>
  <ion-input type="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">SENHA</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">TELEFONE</ion-label>
  <ion-input type="tel"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">CPF</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">DATA DE NASCIMENTO</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-footer>
<ion-button [routerLink]="['']" class="button" color="dark">CANCELAR</ion-button>
<ion-button class="button1" color="dark">CADASTRAR</ion-button>
</ion-footer>
</ion-content>
