
  .button {
    position: absolute;
    left: 3%;
    width: 170px;
    height: 52px;
  }
  
  .button1{
    position: absolute;
    width: 170px;
    height: 52px;
    left: 55%;
  
  }
  
  .back{
      background-size: 100%;
      background-position: center;
      background-image: url("../../assets/Images/img01.png");
  }
